{% extends "base.html" %}

{% block body_block %}

        <section id="content-region-3" class="padding-40 page-tree-bg">
            <div class="container">
                <h3 class="page-tree-text">
                    About
                </h3>
            </div>
        </section><!--page tree end here-->
        <div class="space-70"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                <br><br><br>
                    <h4 class="heading-mini">About our app</h4>
                    <p>
                        Penn Schedule Builder was developed at PennApps XII, in the fall of 2015. Designed to facilitate the process of choosing classes, Penn Schedule Builder takes advantage of the Penn Registrar API in order to deliver schedules tailored to each indiviual's needs.

                    </p>
                    <p>
                        We are always looking for ways to improve our application, so if you have any comments feel free to reach out! 
                    </p>
                    <br>
                    


                </div>
                <div class="col-md-6">
                    <div class="flexslider">
                        <ul class="slides">
                            <li><img src="static/icons/pennapps-hero.jpg" class="img-responsive" alt=""></li>
                            
                        </ul>
                    </div><!--flex slider-->
                </div>
            </div>         <!--about company row end-->
            <div class="space-70"></div>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="heading-mini">Our team</h4>
                </div>

                <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="person-section">
                        <img src="static/icons/Olesky.png" class="img-responsive" alt="">
                        <div class="person-desc">
                            <h3>Alec Olesky   </h3>

                            <p>
                                Alec is a junior at Penn majoring in Computer Science, and he spent his past summer interning at Broadway Technology, a financial technology firm.
                            </p>

                        </div>
                    </div><!--person section end-->
                </div><!--person col end-->
                <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="person-section">
                        <img src="static/icons/Fogel.jpg" class="img-responsive" alt="">
                        <div class="person-desc">
                            <h3>Michael Fogel  </h3>

                            <p>
                                Michael is a junior at Penn majoring in Economics and minoring in Computer Science. He spent his last summer at Estimize, a financial technology start-up for crowdsourced earnings estimates.
                            </p>
                        </div>
                    </div><!--person section end-->
                </div><!--person col end-->
                <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="person-section">
                        <img src="static/icons/Spencer.png" class="img-responsive" alt="">
                        <div class="person-desc">
                            <h3>Spencer Lake   </h3>

                            <p>
                                Spencer is a junior at Penn majoring in Computer Science. He spent his last summer interning at Yahoo! working on fantasy sports.
                            </p>

                        </div>
                    </div><!--person section end-->
                </div><!--person col end-->
                <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="person-section">
                        <img src="static/icons/Brent.png" class="img-responsive" alt="">
                        <div class="person-desc">
                            <h3>Brent Shulman   </h3>

                            <p>
                                Brent is a junior at Penn majoring in Computer Science. He spent his last summer In-Q-Tel, a strategic investor for the U.S. government.
                            </p>
                        </div>
                    </div><!--person section end-->
                </div><!--person col end-->
            </div><!--our team row end-->
         
        </div><!--our process content end-->
        <div class="space-70"></div>
    {% endblock %}
