{% extends "base.html" %}

{% block body_block %}

        <section id="content-region-3" class="padding-40 page-tree-bg">
            <div class="container">
                <h3 class="page-tree-text">
                    Tell us more about your preferences.
                </h3>
            </div>
        </section><!--page-tree end here-->
        <div class="space-70"></div>
        <div class="container">
            <div class="row">

            <div class="col-sm-4">
                            <!-- Panel default -->
                            <div class="panel panel-default">
                                <div class="panel-heading">What is the earliest time you would start a class?</div>
                                <div class="panel-body" style="height: 140px">
                                    <center><select style="margin: 30px">
                                        <option value="">...</option>
                                        <option value="8">8:00 AM</option>
                                        <option value="9">9:00 AM</option>
                                        <option value="10">10:00 AM</option>
                                        <option value="11">11:00 AM</option>
                                        <option value="12">12:00 PM</option>
                                        <option value="1">1:00 PM</option>
                                        </select></center>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <!-- Panel red -->
                            <div class="panel panel-default">
                                <div class="panel-heading">What is the latest time you would start a class?</div>
                                <div class="panel-body" style="height: 140px">
                                    <center><select style="margin: 30px">
                                        <option value="">...</option>
                                        <option value="1">1:00 PM</option>
                                        <option value="2">2:00 PM</option>
                                        <option value="3">3:00 PM</option>
                                        <option value="4">4:00 PM</option>
                                        <option value="5">5:00 PM</option>
                                        <option value="6">6:00 PM</option>
                                        </select></center>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <!-- Panel blue -->
                            <div class="panel panel-default">
                                <div class="panel-heading">What day(s) of the week do you not want class?</div>
                                <div class="panel-body">
                                    <ul class="list-unstyled">
                                <li><input type="checkbox" name="vehicle" placeholder="" value=""> Monday</li>
                                <li><input type="checkbox" name="vehicle" placeholder="" value=""> Tuesday</li>
                                <li><input type="checkbox" name="vehicle" placeholder="" value=""> Wednesday</li>
                                <li><input type="checkbox" name="vehicle" placeholder="" value=""> Thursday</li>
                                <li><input type="checkbox" name="vehicle" placeholder="" value=""> Friday</li>
                            </ul>
                                </div>
                            </div>
            </div> </div>

                    
                    <div class="row" style="text-align: center">
                        <div class="col-sm-4" style="float: none;display:inline-block">
                            <!-- Panel default -->
                            <div class="panel panel-default">
                                <div class="panel-heading">What time do you want a lunch break at?</div>
                                <div class="panel-body">

                                    <center><select>
                                        <option value="">...</option>
                                        <option value="11">11:00 AM</option>
                                        <option value="12">12:00 PM</option>
                                        <option value="1">1:00 PM</option>
                                        <option value="2">2:00 PM</option>
                                        </select></center>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4" style="float: none;display:inline-block">
                            <!-- Panel red -->
                            <div class="panel panel-default">
                                <div class="panel-heading">How long do you want your lunch break to be?</div>
                                <div class="panel-body">
                                    <center><select>
                                        <option value="">...</option>
                                        <option value=".5">.5 hr</option>
                                        <option value="1">1 hr</option>
                                        <option value="1.5">1.5 hrs</option>
                                        </select></center>
                                </div>
                            </div>
                        </div>
                        
                    </div>








            </div>







                   

            
                </div>
            </div><!--price faq row 2 end-->
        </div><!--pricing page end-->
        <p><center><a href="/restrictions" class="btn theme-btn-default btn-lg" style="background-color:#000;color:#FFF;size:large">Submit</a></p></center>
        <div class="space-70"></div>

{% endblock %}