{% extends "base.html" %}

{% block body_block %}

        <section id="content-region-3" class="padding-40 page-tree-bg">
            <div class="container">
                <h3 class="page-tree-text">
                    Help us design your ideal schedule.
                </h3>
            </div>
        </section><!--page-tree end here-->
        <div class="space-70"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="heading-mini"><center>What requirements do you want to fulfill?</center></h4>
                </div>
            </div>  

            <div class="row">
                <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="pricing-wrapper">
                    	<form action="">
                        <div class="pricing-head">
                            <h3>College</h3>
                        </div>
                        <div class="pricing-rate">
                            <h4>Sector Requirements</h4>
                        </div>
                        <div class="pricing-desc">
                            <ul class="list-unstyled">
                                <li><select style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Society </li>
                                <li><select style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Hitory and Tradition </li>
                                <li><select style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Arts and Letters </li>
                                <li><select style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Humanities and Social Science </li>
                                <li><select style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Living World </li>
                                <li><select style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Physical World </li>
                                <li><select style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Natural Science and Mathematics </li>
                            </ul>
                        </div>
                        <div class="pricing-rate">
                            <h4>Foundational Approaches</h4>
                        </div>
                        <div class="pricing-desc">
                            <ul class="list-unstyled">
                                <li><input type="checkbox" name="vehicle" placeholder="" value="">    Quantitative Data Analysis</li>
                                <li><input type="checkbox" name="vehicle" placeholder="" value="">    Formaal Reasoning and Analysis</li>
                                <li><input type="checkbox" name="vehicle" placeholder="" value="">    Cross Cultural Analysis</li>
                                <li><input type="checkbox" name="vehicle" placeholder="" value="">    Cultural Diversity in the U.S.</li>
                                <li><input type="checkbox" name="vehicle" placeholder="" value="">    Writing</li>
                                <li><input type="checkbox" name="vehicle" placeholder="" value="">    Language</li>
                            </ul>
                        </div>
                    </div><!--pricing wrapper-->
                </div><!--pricing col end-->
                <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="pricing-wrapper">
                        <div class="pricing-head">
                            <h3>Wharton</h3>
                        </div>
                        <div class="pricing-desc">
                            <ul class="list-unstyled">
                                <li><select style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Economics and Math </li>
                                <li><select style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Leadership </li>
                                <li><select style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Critical Writing </li>
                                <li><select style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Business Fundamentals </li>
                                <li><select style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Societal Environment </li>
                                <li><select style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Organizational Environment </li>
                                <li><select style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Social Structures </li>
                                <li><select style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Lang., Arts, and Culture </li>
                                <li><select style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Science and Technology </li>
                                <li><select style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Global Environment </li>
                            </ul>
                        </div>

                    </div><!--pricing wrapper-->
                </div><!--pricing col end-->
                <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="pricing-wrapper">
                        <div class="pricing-head">
                            <h3>Engineering</h3>
                        </div>
                        <div class="pricing-desc">
                            <ul class="list-unstyled">
                                <li><select style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Math </li>
                                        <li><select style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Tech Elective </li>
                                        <li><select style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Social Sci and Humanities</li>
                                        <li><select style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Writing </li>
                                        <li><select style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Ethics</li>
                                        <li><select style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Free Elective </li>
                            </ul>
                        </div>
                    </div><!--pricing wrapper-->
                </div><!--pricing col end-->
                <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="pricing-wrapper">
                        <div class="pricing-head">
                            <h3>Nursing</h3>
                        </div>
                        <div class="pricing-desc">
                        <div class="pricing-rate">
                            <h4>Sector Requirements</h4>
                        </div>
                            <ul class="list-unstyled">
                            <li><select style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Arts & Letters </li>
                                        <li><select style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Society and Social Structures </li>
                                        <li><select style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Histories and Traditions</li>
                                        <li><select style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Global and Cultural Studies </li>
                                        <li><select style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Reasoning, Systems, and Relationships </li>
                               
                            </ul>
                        </div>
                    </div><!--pricing wrapper-->
                </div><!--pricing col end-->
            </div><!--pricing 4 col row end-->
            <div class="space-40"></div>

            
              <select name="cars">
                {% for class in classes %}
                <option value="{{ class }}">{{ class }}</option>
                {% endfor %}
              </select>

            <p><center><a href="/restrictions" class="btn theme-btn-default btn-lg" style="background-color:#000;color:#FFF;size:large">Next &#8594;</a></p></center><div class="space-40"></div>
            
            
        </div><!--pricing page end-->
        </div>

{% endblock %}