{% extends "base.html" %}

{% block body_block %}

        <section id="content-region-3" class="padding-40 page-tree-bg">
            <div class="container">
                <h3 class="page-tree-text">
                    Help us design your ideal schedule
                </h3>
            </div>
        </section><!--page-tree end here-->
        <div class="space-70"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="heading-mini">What requirements do you want to fill?</h4>
                </div>
            </div>  

            <div class="row">
                <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="pricing-wrapper">
                    	<form action="">
                        <div class="pricing-head">
                            <h3>College</h3>
                        </div>
                        <div class="pricing-rate">
                            <h4>Sector Requirements</h4>
                        </div>
                        <div class="pricing-desc">
                            <ul class="list-unstyled">
                                <li><input type="checkbox" name="vehicle" placeholder="" value="">    Society</li>
                                <li><input type="checkbox" name="vehicle" placeholder="" value="">    History and Tradition</li>
                                <li><input type="checkbox" name="vehicle" placeholder="" value="">    Arts and Letters</li>
                                <li><input type="checkbox" name="vehicle" placeholder="" value="">    Humanities and Social Science</li>
                                <li><input type="checkbox" name="vehicle" placeholder="" value="">    Living World</li>
                                <li><input type="checkbox" name="vehicle" placeholder="" value="">    Physical World</li>
                                <li><input type="checkbox" name="vehicle" placeholder="" value="">    Natural Science and Mathematics</li>
                            </ul>
                        </div>
                        <div class="pricing-rate">
                            <h4>Foundational Approaches</h4>
                        </div>
                        <div class="pricing-desc">
                            <ul class="list-unstyled">
                                <li><input type="checkbox" name="vehicle" placeholder="" value="">    Quantitative Data Analysis</li>
                                <li><input type="checkbox" name="vehicle" placeholder="" value="">    Formaal Reasoning and Analysis</li>
                                <li><input type="checkbox" name="vehicle" placeholder="" value="">    Cross Cultural Analysis</li>
                                <li><input type="checkbox" name="vehicle" placeholder="" value="">    Cultural Diversity in the U.S.</li>
                                <li><input type="checkbox" name="vehicle" placeholder="" value="">    Writing</li>
                                <li><input type="checkbox" name="vehicle" placeholder="" value="">    Language</li>
                            </ul>
                        </div>
                    </div><!--pricing wrapper-->
                </div><!--pricing col end-->
                <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="pricing-wrapper">
                        <div class="pricing-head">
                            <h3>Wharton</h3>
                        </div>
                        <div class="pricing-desc">
                            <ul class="list-unstyled">
                            	<li><input type="checkbox" name="vehicle" placeholder="" value="">    Economics and Math</li>
                            	<li><input type="checkbox" name="vehicle" placeholder="" value="">    Leadership</li>
                            	<li><input type="checkbox" name="vehicle" placeholder="" value="">    Critical Writing</li>
                            	<li><input type="checkbox" name="vehicle" placeholder="" value="">    Business Fundamentals</li>
                            	<li><input type="checkbox" name="vehicle" placeholder="" value="">    Societal Environment</li>
                            	<li><input type="checkbox" name="vehicle" placeholder="" value="">    Organizational Environment</li>
                            	<li><input type="checkbox" name="vehicle" placeholder="" value="">    Social Structures</li>
                            	<li><input type="checkbox" name="vehicle" placeholder="" value="">    Lang., Arts, and Culture</li>
                            	<li><input type="checkbox" name="vehicle" placeholder="" value="">    Science and Technology</li>
                            	<li><input type="checkbox" name="vehicle" placeholder="" value="">    Global Environment</li>
                            </ul>
                        </div>

                    </div><!--pricing wrapper-->
                </div><!--pricing col end-->
                <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="pricing-wrapper">
                        <div class="pricing-head">
                            <h3>Engineering</h3>
                        </div>
                        <div class="pricing-desc">
                            <ul class="list-unstyled">
                                <li><input type="checkbox" name="vehicle" placeholder="" value="">    Math</li>
                                <li><input type="checkbox" name="vehicle" placeholder="" value="">    Tech Elective</li>
                                <li><input type="checkbox" name="vehicle" placeholder="" value="">    Social Sci and Humanities</li>
                                <li><input type="checkbox" name="vehicle" placeholder="" value="">    Writing</li>
                                <li><input type="checkbox" name="vehicle" placeholder="" value="">    Ethics</li>
                                <li><input type="checkbox" name="vehicle" placeholder="" value="">    Free Elective</li>
                            </ul>
                        </div>
                    </div><!--pricing wrapper-->
                </div><!--pricing col end-->
                <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="pricing-wrapper">
                        <div class="pricing-head">
                            <h3>Nursing</h3>
                        </div>
                        <div class="pricing-desc">
                            <ul class="list-unstyled">
                                <li><i class="ion-checkmark-round"></i> Curabitur tincidunt iaculis</li>
                                <li><i class="ion-checkmark-round"></i> Vestibulum vitae nibh elit</li>
                                <li><i class="ion-checkmark-round"></i> Lorem ipsum dolor sit amet</li>
                                <li><i class="ion-checkmark-round"></i> Suspendisse tristique </li>
                                <li><i class="ion-checkmark-round"></i> Curabitur tincidunt </li>
                                <li><i class="ion-checkmark-round"></i> Vestibulum vitae nibh elit</li>
                            </ul>
                        </div>
                    </div><!--pricing wrapper-->
                </div><!--pricing col end-->
            </div><!--pricing 4 col row end-->
            <div class="space-40"></div>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="heading-mini">Pricing tables 3 columns</h4>
                </div>
            </div>  

            <div class="row">
                <div class="col-md-4 margin-btm-20">
                    <div class="pricing-wrapper">
                        <div class="pricing-head">
                            <h3>Free</h3>
                        </div>
                        <div class="pricing-rate">
                            <h1>$0.00<small>-month</small></h1>
                        </div>
                        <div class="pricing-desc">
                            <ul class="list-unstyled">
                                <li><i class="ion-checkmark-round"></i> Curabitur tincidunt iaculis</li>
                                <li><i class="ion-checkmark-round"></i> Vestibulum vitae nibh elit</li>
                                <li><i class="ion-checkmark-round"></i> Lorem ipsum dolor sit amet</li>
                                <li><i class="ion-checkmark-round"></i> Suspendisse tristique </li>
                                <li><i class="ion-checkmark-round"></i> Curabitur tincidunt </li>
                                <li><i class="ion-checkmark-round"></i> Vestibulum vitae nibh elit</li>
                            </ul>
                        </div>
                    </div><!--pricing wrapper-->
                </div><!--pricing col end-->
                <div class="col-md-4 margin-btm-20">
                    <div class="pricing-wrapper">
                        <div class="pricing-head">
                            <h3>Basic</h3>
                        </div>
                        <div class="pricing-rate">
                            <h1>$9.99<small>-month</small></h1>
                        </div>
                        <div class="pricing-desc">
                            <ul class="list-unstyled">
                                <li><i class="ion-checkmark-round"></i> Curabitur tincidunt iaculis</li>
                                <li><i class="ion-checkmark-round"></i> Vestibulum vitae nibh elit</li>
                                <li><i class="ion-checkmark-round"></i> Lorem ipsum dolor sit amet</li>
                                <li><i class="ion-checkmark-round"></i> Suspendisse tristique </li>
                                <li><i class="ion-checkmark-round"></i> Curabitur tincidunt </li>
                                <li><i class="ion-checkmark-round"></i> Vestibulum vitae nibh elit</li>
                            </ul>
                        </div>

                    </div><!--pricing wrapper-->
                </div><!--pricing col end-->
                <div class="col-md-4 margin-btm-20">
                    <div class="pricing-wrapper">
                        <div class="pricing-head">
                            <h3>Pro</h3>
                        </div>
                        <div class="pricing-rate">
                            <h1>$29.99<small>-month</small></h1>
                        </div>
                        <div class="pricing-desc">
                            <ul class="list-unstyled">
                                <li><i class="ion-checkmark-round"></i> Curabitur tincidunt iaculis</li>
                                <li><i class="ion-checkmark-round"></i> Vestibulum vitae nibh elit</li>
                                <li><i class="ion-checkmark-round"></i> Lorem ipsum dolor sit amet</li>
                                <li><i class="ion-checkmark-round"></i> Suspendisse tristique </li>
                                <li><i class="ion-checkmark-round"></i> Curabitur tincidunt </li>
                                <li><i class="ion-checkmark-round"></i> Vestibulum vitae nibh elit</li>
                            </ul>
                        </div>
                        <div class="pricing-select">
                            <a href="#" class="btn theme-btn-color btn-lg">Choose plan </a>
                        </div>
                    </div><!--pricing wrapper-->
                </div><!--pricing col end-->

            </div><!--pricing 3 col row end-->
            <div class="space-40"></div>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="heading-mini">Frequently Asked Questions</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 margin-btm-40">
                    <div class="price-faq-box">
                        <h3>Lorem ipsum dollor sit amet?</h3>
                        <p>
                            aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                        </p>
                    </div><!--price faq box-->
                </div>
                 <div class="col-md-4 margin-btm-40">
                    <div class="price-faq-box">
                        <h3>Lorem ipsum dollor sit amet?</h3>
                        <p>
                            aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                        </p>
                    </div><!--price faq box-->
                </div>
                 <div class="col-md-4 margin-btm-40">
                    <div class="price-faq-box">
                        <h3>Lorem ipsum dollor sit amet?</h3>
                        <p>
                            aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                        </p>
                    </div><!--price faq box-->
                </div>
            </div><!--price faq row 1 end-->
              <div class="row">
                <div class="col-md-4 margin-btm-40">
                    <div class="price-faq-box">
                        <h3>Lorem ipsum dollor sit amet?</h3>
                        <p>
                            aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                        </p>
                    </div><!--price faq box-->
                </div>
                 <div class="col-md-4 margin-btm-40">
                    <div class="price-faq-box">
                        <h3>Lorem ipsum dollor sit amet?</h3>
                        <p>
                            aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                        </p>
                    </div><!--price faq box-->
                </div>
                 <div class="col-md-4 margin-btm-40">
                    <div class="price-faq-box">
                        <h3>Lorem ipsum dollor sit amet?</h3>
                        <p>
                            aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                        </p>
                    </div><!--price faq box-->
                </div>
            </div><!--price faq row 2 end-->
        </div><!--pricing page end-->
        <div class="space-70"></div>

{% endblock %}