{% extends "base.html" %}

{% block body_block %}

        <section id="content-region-3" class="padding-40 page-tree-bg">
            <div class="container">
                <h3 class="page-tree-text">
                    Help us design your ideal schedule.
                </h3>
            </div>
        </section><!--page-tree end here-->
        <div class="space-70"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="heading-mini"><center>What requirements do you want to fulfill?</center></h4>
                </div>
            </div>  

            <div class="row">
                <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="pricing-wrapper">
                    	<form action="">
                        <div class="pricing-head">
                            <h3>College</h3>
                        </div>
                        <div class="pricing-rate">
                            <h4>Sector Requirements</h4>
                        </div>
                        <div class="pricing-desc">
                            <ul class="list-unstyled">
                                <li><select name="Society" style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Society </li>
                                <li><select name="History and Tradition" style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> History and Tradition </li>
                                <li><select name="Arts and Letters" style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Arts and Letters </li>
                                <li><select name = "Humanities and Social Science" style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Humanities and Social Science </li>
                                <li><select name = "Living World" style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Living World </li>
                                <li><select name = "Physical World" style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Physical World </li>
                                <li><select name = "Natural Science and Mathematics" style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Natural Science and Mathematics </li>
                            </ul>
                        </div>
                        <div class="pricing-rate">
                            <h4>Foundational Approaches</h4>
                        </div>
                        <div class="pricing-desc">
                            <ul class="list-unstyled">
                                <li><select style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select>    Quant Data Analysis</li>
                                <li><select style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select>    Formal Reasoning</li>
                                <li><select style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select>    Cross Cultural Analysis</li>
                                <li><select style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select>    Cultural Diversity in  U.S.</li>
                                <li><select style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select>    Writing</li>
                                <li><select style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select>    Language</li>
                            </ul>
                        </div>
                    </div><!--pricing wrapper-->
                </div><!--pricing col end-->
                <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="pricing-wrapper">
                        <div class="pricing-head">
                            <h3>Wharton</h3>
                        </div>
                        <div class="pricing-desc">
                            <ul class="list-unstyled">
                                <li><select name="Economics and Math" style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Economics and Math </li>
                                <li><select name="Leadership" style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Leadership </li>
                                <li><select name="Critical Writing" style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Critical Writing </li>
                                <li><select name="Business Fundamentals" style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Business Fundamentals </li>
                                <li><select name="Societal Environment" style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Societal Environment </li>
                                <li><select name="Organizational Environment" style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Organizational Environment </li>
                                <li><select name="Social Structures" style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Social Structures </li>
                                <li><select name="Lang., Arts, and Culture" style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Lang., Arts, and Culture </li>
                                <li><select name="Science and Technology" style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Science and Technology </li>
                                <li><select name="Global Environment"style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Global Environment </li>
                            </ul>
                        </div>

                    </div><!--pricing wrapper-->
                </div><!--pricing col end-->
                <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="pricing-wrapper">
                        <div class="pricing-head">
                            <h3>Engineering</h3>
                        </div>
                        <div class="pricing-desc">
                            <ul class="list-unstyled">
                                <li><select name="Math" style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Math </li>
                                        <li><select name="Tech Elective" style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Tech Elective </li>
                                        <li><select name="Social Sci and Humanities" style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Social Sci and Humanities</li>
                                        <li><select name="Writing" style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Writing </li>
                                        <li><select name="Ethics" style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Ethics</li>
                                        <li><select name="Free Elective" style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Free Elective </li>
                            </ul>
                        </div>
                    </div><!--pricing wrapper-->
                </div><!--pricing col end-->
                <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="pricing-wrapper">
                        <div class="pricing-head">
                            <h3>Nursing</h3>
                        </div>
                        <div class="pricing-desc">
                        <div class="pricing-rate">
                            <h4>Sector Requirements</h4>
                        </div>
                            <ul class="list-unstyled">

                            <li><select name="Arts & Letters" style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Arts & Letters </li>
                                        <li><select name="Society and Social Structures" style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Society and Social Structures </li>
                                        <li><select name="Histories and Traditions" style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Histories and Traditions</li>
                                        <li><select name="Global and Cultural Studies" style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Global and Cultural Studies </li>
                                        <li><select name="Reasoning, Systems, and Relationships" style="margin: 5px">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        </select> Reasoning, Systems, and Relationships </li>
                            </ul>
                        </div>
                    </div><!--pricing wrapper-->
                </div><!--pricing col end-->
            </div><!--pricing 4 col row end-->
            <div class="space-40"></div>
            
            <div id="inputFields" class="row">
                <div  class="col-md-12" style="text-align: center;">
                    <h4 class="heading-mini">What classes (if any) are you required to take this semester?</h4>
                </div>
                <form id="first_form" action="", method="POST">
                    <div style="text-align: center;">
                        <input type="text" name="required-class-1" placeholder="Type a class you need to take" class="need_class_input">
                    </div>
                </form>

            </div>
            <div style="text-align: center;">
                <button name="data" type="button" onclick="addQuestion()">+</button>
            </div>

            <p><center><a onclick="document.getElementById('first_form').submit();" href="/restrictions" class="btn theme-btn-default btn-lg" style="background-color:#000;color:#FFF;size:large">Next &#8594;</a></p></center><div class="space-40"></div>
            
            
        </div><!--pricing page end-->
        </div>

{% endblock %}