{% extends "base.html" %}

{% block body_block %}

        <section id="content-region-3" class="padding-40 page-tree-bg">
            <div class="container">
                <h3 class="page-tree-text">
                    Portfolio single
                </h3>
            </div>
        </section><!--page-tree end here-->
        <div class="space-70"></div>
        <div class="container portfolio-details">
            <div class="row">
                <div class="col-md-8 portfolio-single-slide margin-btm-40">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="static/img/work/work-1.jpg" class="img-responsive" alt="">
                            </li>
                            <li>
                                <img src="static/img/work/work-2.jpg" class="img-responsive" alt="">
                            </li>
                            <li>
                                <img src="static/img/work/work-3.jpg" class="img-responsive" alt="">
                            </li>
                            <li>
                                <img src="static/img/work/work-7.jpg" class="img-responsive" alt="">
                            </li>
                        </ul>
                    </div><!--flex slider-->
                    <div class="portfolio-single-desc">
                        <h3>Project title goes here</h3>
                        <p>
                            aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                        </p>
                        <p>
                            aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                        </p>
                        <p>
                            aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                        </p>
                        <hr>
                    </div><!--portfolio detail-->
                </div>
                <div class="col-md-4">
                    <div class="portfolio-side-bar">
                        <p>
                            <strong>Client:</strong> Design_mylife
                        </p>
                         <p>
                            <strong>Skills:</strong> HTML5, CSS3, Bootstrap3, Jquery
                        </p>
                         <p>
                            <strong>Time:</strong> March 10 2015 - March 25 2015
                        </p>
                         <p>
                            <strong>Client Says:</strong> "Great services!, my project goes live and am very happy to pay design_mylife. sed do eiusmod tempor incididunt ut labore et dolore magna."
                        </p>
                        <br>
                        <p>
                            <a href="#" class="btn btn-radius theme-btn-color">Visit Project</a>
                        </p>
                    </div>
                </div>
            </div>
        </div><!--portfolio single container end-->
        <div class="space-70"></div>
{% endblock %}
