{% extends "base.html" %}

{% block body_block %}

        <section id="content-region-3" class="padding-40 page-tree-bg">
            <div class="container">
                <h3 class="page-tree-text">
                    Your personalized schedule
                </h3>
            </div>
        </section><!--page-tree end here-->
        <div class="space-70"></div>

        <div class="container portfolio-details">
            <div class="row">
                <div class="col-md-8 portfolio-single-slide margin-btm-40">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                 <table border='1'  bordercolor='#FFFF00' cellspacing='0' cellpadding='0' align=center style="min-height:100%; width:100%">
                                <tr><td><table cellspacing='0' cellpadding='0' align=center  border='1' style="width: 100%; min-height: 500px;"></tr><tr style="height: 50px; text-align: center;">
                                <td><font size='3' face='Tahoma'><b>M</b></font></td>

                                <td><font size='3' face='Tahoma'><b>T</b></font></td>

                                <td><font size='3' face='Tahoma'><b>W</b></font></td>

                                <td><font size='3' face='Tahoma'><b>T</b></font></td>

                                <td><font size='3' face='Tahoma'><b>F</b></font></td>

                                </tr>
                                <tr>
                                <td valign=top>{% for c in by_date.M %}
                                    {{ c.meetings.M[0][0] }}
                                    <div style="
                                        height: 40px;
                                        background-color: thistle;
                                    ">{{ c.full_name }}
                                    </div>
                                    {{ c.meetings.M[0][1] }}
                                    <br>
                                    {% endfor %}
                                </td>
                                <td valign=top>{% for c in by_date.T %}
                                    {{ c.meetings.T[0][0] }}
                                    <div style="
                                        height: 40px;
                                        background-color: thistle;
                                    ">{{ c.full_name }}
                                    </div>
                                    {{ c.meetings.T[0][1] }} <br>
                                    {% endfor %}</td>
                                <td valign=top>{% for c in by_date.W %}
                                    {{ c.meetings.W[0][0] }}
                                    <div style="
                                        height: 40px;
                                        background-color: thistle;
                                    ">{{ c.full_name }}
                                    </div>
                                    {{ c.meetings.W[0][1] }}<br>
                                    {% endfor %}</td>

                                 <td valign=top>{% for c in by_date.R %}
                                    {{ c.meetings.R[0][0] }}
                                    <div style="
                                        height: 40px;
                                        background-color: thistle;
                                    ">{{ c.full_name }}
                                    </div>
                                    {{ c.meetings.R[0][1] }}<br>
                                    {% endfor %}</td>

                                 <td valign=top>{% for c in by_date.F %}
                                    {{ c.meetings.F[0][0] }}
                                    <div style="
                                        height: 40px;
                                        background-color: thistle;
                                    ">{{ c.full_name }}
                                    </div> 
                                    {{ c.meetings.F[0][1] }}<br>
                                    {% endfor %}
                                </td>
                                    </tr></table></td></tr></table>
                            </li>
                        </ul>
                    </div><!--flex slider-->
                </div>
                <div class="col-md-4">
                    <div class="portfolio-side-bar">
                        <strong>Your courses are:</strong><br>
                        {% for c in data %}
                        <p><strong>{{ c.full_name }}:</strong></p>
                        <p>{% for  k,v in c.meetings.items() %}
                                {{ k }}: {{ v[0][0] }}-{{ v[0][1] }}
                            {% endfor %}
                            </p><br>
                        {% endfor %}
                        
                        <p>
                            <a href="http://github.com/shulmanbrent" class="btn btn-radius theme-btn-color">Visit out Github</a>
                        </p>
                    </div>
                </div>
            </div>
        </div><!--portfolio single container end-->
        <div class="space-70"></div>
{% endblock %}
